.container{
    
    margin-left: 0;
    margin-inline-end: 0;
}
.bgimg{
    background-image: url("https://t4.ftcdn.net/jpg/04/45/74/91/360_F_445749168_e461cOBPmQKpJ3cSwLfGGooYXXR8gC5V.jpg");
    background-size: cover;
    width:120vw;
    height: 800px;
    position:fixed;
    
}
.link{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-left:0px;
    margin-top:50px;
    padding:60px;
    font-weight: bold;
    font-size:20px;

}

.paraline{
    margin-left:0px;
    padding:10px;
}
select{
    margin-left: 150px;
}